# Build folder
build/
# Resources folder
resources/
build
cmake-build-debug
.idea
# Local files
*.local.*
# Visual Studio Code folder
.vscode

# To be deleted when we finalize the way to compile files.
*.o
src/pointestimates/lossfunction/loss
